@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Varela+Round&display=swap');

@import "node_modules/tailwindcss/base.css";
@import "node_modules/tailwindcss/components.css";
@import "node_modules/tailwindcss/utilities.css";

html {
    min-height: 100vh;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: rgb(33,72,80);
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
    color: #fbffdf;

    &.text-dark {
        color: rgb(33,72,80);
    }
}

.hero {    
    background: linear-gradient(0deg, rgba(33,72,80,1) 0%, rgba(36,106,100,1) 100%);

    &.bg-light {
        background: #fbffdf;
    }
}

.btn-primary {
    background-color: #44b3a8;
    border-color: #44b3a8;
}

.btn-primary:hover {
    background-color: #1c6573;
    border-color: #44b3a8;
}

.border-primary {
    border-color: #44b3a8;
}

p {
    margin-bottom: 2rem;
}

.bg-base {
    background: linear-gradient(0deg, rgba(33,72,80,1) 0%, rgba(36,106,100,1) 100%);
}

.icon {
    width: 32px;
}

.post:hover {
    transition-duration: 0.4s;
    background-color: #44b3a8;
}

li {
    list-style: circle;
}

.content {
    ul {
        margin-bottom: 2rem;
    }
}

a {
    text-decoration: underline;
}

a:hover {
    color: #fbffdf;
}