<footer class="footer p-10 bg-base text-white">
    <aside>
        <a href="/"><img src="{{ .Site.BaseURL }}/images/petalex_favicon.png" width="128px" /></a>
        <p class="mx-auto">Petalex Protocol</p>
    </aside> 
    <nav>
        <header class="footer-title">Community</header> 
        <div class="grid grid-flow-col gap-4">
            <a class="link link-hover" target="_blank" href="https://twitter.com/petalexprotocol"><img class="icon" width="32px" src="{{ .Site.BaseURL }}/images/twitter.png" /></a> 
            <a class="link link-hover" target="_blank" href="https://discord.gg/hyeJm3knFK"><img class="icon" width="32px" src="{{ .Site.BaseURL }}/images/discord.png" /></a> 
            <a class="link link-hover" target="_blank" href="https://github.com/Petalex-Protocol"><img class="icon" width="32px" src="{{ .Site.BaseURL }}/images/github-mark-white.png" /></a> 
        </div>
    </nav>
</footer>